<nav class="navbar navbar-expand-lg bg-body-tertiary mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard">
          <img src="apple-touch-icon.png"
               alt="Fluxo Logo"
               width="24"
               height="24"
               class="d-inline-block align-text-bottom">
            luxo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/chart-of-accounts" routerLinkActive="active">Ledger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/journal-entries" routerLinkActive="active">Journal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/posting-periods" routerLinkActive="active">Periods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/balances-reports" routerLinkActive="active">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/administration" routerLinkActive="active">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
