.modal-header {
  border-bottom-color: var(--bs-modal-border-color);
}

.modal-footer {
  border-top-color: var(--bs-modal-border-color);
}

dl {
  dt {
    font-weight: 600;
    color: var(--bs-secondary);
  }

  dd {
    margin-bottom: 0.5rem;
  }
}