// All common table list styles have been moved to global styles.scss
// Chart of accounts specific column widths
.table {
  table-layout: fixed;

  th,
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // Account code column
  th:nth-child(1),
  td:nth-child(1) {
    width: 8%;
  }

  // Account name column
  th:nth-child(2),
  td:nth-child(2) {
    width: 40%;
  }

  // Type column
  th:nth-child(3),
  td:nth-child(3) {
    width: 18%;
  }

  // Status column
  th:nth-child(4),
  td:nth-child(4) {
    width: 10%;
  }

  // Normal balance column
  th:nth-child(5),
  td:nth-child(5) {
    width: 12%;
  }

  // Actions column
  th:nth-child(6),
  td:nth-child(6) {
    width: 12%;
  }
}